---
interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<script src="/libs/htmx.min.js" is:inline></script>
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<div id="error"></div>
		<slot />
	</body>
</html>
<style is:global>
	:root {
		--accent: 136, 58, 234;
		--accent-light: 224, 204, 250;
		--accent-dark: 49, 10, 101;
		--accent-gradient: linear-gradient(
			45deg,
			rgb(var(--accent)),
			rgb(var(--accent-light)) 30%,
			white 60%
		);
	}
	html {
		font-family: system-ui, sans-serif;
		background: #13151a;
		background-size: 224px;
	}
	code {
		font-family:
			Menlo,
			Monaco,
			Lucida Console,
			Liberation Mono,
			DejaVu Sans Mono,
			Bitstream Vera Sans Mono,
			Courier New,
			monospace;
	}
	.warning {
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		padding: 1em;
		font-size: 1.2em;
		font-weight: bold;
		text-align: center;
		background-color: rgb(142, 31, 0);
		color: white;
		transform: translateY(-100%);
		animation-name: errormessage;
		animation-duration: 4s;
	}
	@keyframes errormessage {
		0% {transform: translateY(-100%)}
		10% {transform: translateY(0%)}
		90% {transform: translateY(0%)}
		100% {transform: translateY(-100%)}
	}
</style>
